<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Week 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Let's begin with some hands-on practice exercises**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to print the following pattern (use for loop)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

                                            A  
                                            B C  
                                            D E F  
                                            G H I J  
                                            K L M N O  
                                            P Q R S T U

In [183]:
s=ord('A')
for i in range(0,6):
    for j in range(i+1):
        print(chr(s),end=" ")
        s=s+1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print tables from 2 to a user provided range (use for loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [166]:
a= int(input("enter a number"))
[[ i*j for j in range(1,11)] for i in range(2,a)]

enter a number5

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Consider the given two tuples. Divide corresponding elemets of two tuples and print the result as tuple (use zip())</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

   **The original tuple 1 : (10, 4, 6, 9)**

   **The original tuple 2 : (5, 2, 3, 3)**

   **Output: (2, 2, 2, 3)**

In [165]:
a=(10, 4, 6, 9)
b=(5, 2, 3, 3)
a=list(a)
b=list(b)
c=[int(i/j) for i,j in zip(a,b)]
c=tuple(c)
print(c)

(2, 2, 2, 3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Use list comprehension to find words whose length is less than 5 from the given multi-dimensional list</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

**astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] **

In [218]:
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] 
astro_1 = [p for s in astro for p in s if len(astro)<=5]
print(astro_1)

['sky', 'sun', 'moon', 'star', 'Jupiter', 'mars', 'Jupiter', 'Neptune', 'Pluto']

In [ ]:
[planet for sublist in planets for planet in sublist if len(planet) < 6]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to append a dictionary to a tuple</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**The original tuple : (4, 5, 6)**

**Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})**

In [222]:
tupl = (4, 5, 6)
dic = {'gfg': 1, 'is': 2, 'best': 3}
tupl=list(tupl)
tupl.append(dic)
tuple(tupl)

(4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to remove space from keys of the given dictionary (use for loop)  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 
                'Fruits 0 3 ': 'Grapes'}**

**(Output) New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [179]:
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
fruity = {i.replace(" ",""):j for i,j in fruity.items()}
fruity

{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to transpose a matrix using list comprehension</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**matrix=[[1,2],[3,4],[5,6],[7,8]]**<br>
**Output: [[1, 3, 5, 7], [2, 4, 6, 8]]**

In [167]:
list1=[[1,2],
       [3,4],
       [5,6],
       [7,8]]
[[j[i] for j in list1 ] for i in range(len(list1[0])) ]

[[1, 3, 5, 7], [2, 4, 6, 8]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to add the cubes of first 5 positive integers (use while loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [143]:
sum = 0
for i in range(0,6):
    i=i**3
    sum = sum+i 
print(sum)

225

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to create a 5x3 matrix with values in each row as 1,2, and 3 (use list comprehension)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [186]:
[[i for i in range(1,4)] for j in range(0,5)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]